@import url("https://fonts.googleapis.com/css2?family=Acme&family=Angkor&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-marker: "Permanent Marker", serif;
  --font-acme: "Acme", serif;
  --font-angkor: "Angkor", serif;
  --font-inter: "Inter", serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #f59e0b;
  --primary-foreground: #000000;
  --secondary: #f3f4f6;
  --secondary-foreground: #000000;
  --muted: #f9fafb;
  --muted-foreground: #000000;
  --accent: #ffffff;
  --accent-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #000000;
  --border: #e5e7eb;
  --input: #000000;
  --ring: #ef9a20;
  --chart-1: #000000;
  --chart-2: #000000;
  --chart-3: #000000;
  --chart-4: #000000;
  --chart-5: #000000;
  --sidebar: #f9fafb;
  --sidebar-foreground: #262626;
  --sidebar-primary: #f59e0b;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fffbeb;
  --sidebar-accent-foreground: #92400e;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #f59e0b;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #000000;
  --foreground: #ef9a20;
  --card: #000000;
  --card-foreground: #f59e0b;
  --popover: #000000;
  --popover-foreground: ##f59e0b;
  --primary: #f59e0b;
  --primary-foreground: #000000;
  --secondary: #000000;
  --secondary-foreground: #e5e5e5;
  --muted: #000000;
  --muted-foreground: #ffffff;
  --accent: #f59e0b;
  --accent-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #ef9a20;
  --input: #000000;
  --ring: ##ef9a20;
  --chart-1: #ef9a20;
  --chart-2: #ef9a20;
  --chart-3: #ef9a20;
  --chart-4: #ef9a20;
  --chart-5: #ef9a20;
  --sidebar: #000000;
  --sidebar-foreground: #f59e21;
  --sidebar-primary: #f59e0b;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #92400e;
  --sidebar-accent-foreground: #fde68a;
  --sidebar-border: #f59e21;
  --sidebar-ring: #f59e0b;
  --font-sans: Cascadia Mono, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bevan, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

body {
  background: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-marker: "Permanent Marker", serif;
  --font-acme: "Acme", serif;
  --font-angkor: "Angkor", serif;
  --font-inter: "Inter", serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@keyframes iconBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.3em);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-0.1em);
  }
  80% {
    transform: translateY(0);
  }
}

@keyframes border-follow {
  0% {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    left: 100%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  50% {
    left: 100%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    left: 0;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
}

@keyframes color-change {
  0% {
    color: #ffd700; /* Gold */
  }
  33% {
    color: #ffc107; /* Amber */
  }
  66% {
    color: #ffb300; /* Vivid Amber */
  }
  100% {
    color: #ffd700; /* Gold */
  }
}

@keyframes border-color-change {
  0% {
    border-color: #ffd700; /* Gold */
  }
  33% {
    border-color: #ffc107; /* Amber */
  }
  66% {
    border-color: #ffb300; /* Vivid Amber */
  }
  100% {
    border-color: #ffd700; /* Gold */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}
